.my-player {
    background-color: aqua;
    margin: auto;
    width: 1000px;
    height: 300px;
}

#ad-countdown {
    float: right;
}

#content {
    position: relative;
    text-align: center;
    top: 50%;
    margin: 0;
}